.offers {
    background-color: var(--color-accent);
    color: var(--color-primary);
    padding: var(--spacing-xl) var(--spacing-md);
    text-align: center;
}

.content h2 {
    font-size: 3rem;
    margin-bottom: var(--spacing-sm);
    color: var(--color-primary);
}

.content p {
    font-size: 1.25rem;
    margin-bottom: var(--spacing-md);
    font-weight: 500;
}